body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .background-headers > img   {
    max-width: 2889px;
    width: 100%;
    height: 1391px;
  }
  
  .box-menu {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    margin: 30px auto;
  }
  
  .all {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(11, 27, 221, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
  }
  
  .one {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1)
    background-color: rgba(253, 199, 36, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
  }
  
  .activities {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(237, 28, 36, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
  }
  
  .video {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(12, 35, 78, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
    
  }
  
  .library {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 166, 81, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
  }
  
  .prnewswire {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 37, 37, 1);
    border-radius: 15px;
    max-width: 386px;
    width: 100%;
    height: 135px;
  }
  
  .continer {
    background-color: #E5E5E5;
    display: flex;
  
  }
  
  .about-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }
  
  .row {
    background-color: #FFFF;
    max-width: 735px;
    width: 100%;
    margin: 40px;
    padding-bottom: 85px;
  }
  
  .row > div > img {
    margin-bottom: 85px;
    max-width: 735px;
    width: 100%;
  }
  
  .content-area {
    max-width: 735px;
    width: 75%;
    margin: 20px auto;
  }
  
  .content-area > h5 {
    color: rgba(64, 83, 189, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.05em;
  }
  
  .content-area > h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 57px;
    letter-spacing: 0.03em;
    color: #000000;
  }
  
  .content-area > p {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    opacity: 50%;
  }
  
  time {
    padding: 60px 0px 85px 0px
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
    opacity: 50%;
  }
  
  .jeff-morgan {
    background-image: url(./images/do-right.png);
    max-width: 735px;
    width: 100%;
    height: 945px;
    margin: 40px;
  }
  
  .do-right {
    max-width: 100%;
    width: 75%;
    margin: 0px auto;
    position: relative;
    top: 330px;
  }
  
  .do-right > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 150px;
    line-height: 268px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 50%;
    margin: 0px;
  }
  
  .do-right > h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 57px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0px;
  }
  
  .do-right > h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.5;
  }
  
  .search-menu {
    margin-left: 100px;
    margin-top: 45px;
    max-width: 550px;
    width: 100%;
  }
  
  .search {
    position: relative; 
  }
  
  .search > input {
    background-color: #FFFFFF;
    max-width: 378px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
    height: 73px;
    border: 0px;
    padding-left: 20px;
    position: relative; 
  }
  
  .search > img {
    position: absolute;
    top: 30px;
    right: 170px;
  }

  .menu {
    position: relative;
    top: 170px;
    height: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .recent-posts {
    position: relative;
    flex: 1;
  }
  
  .recent-posts > h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
  }
  
  .recent-posts > ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .recent-posts > ul > li {
    color:  rgba(0, 0, 0, 0.6);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-decoration-line: underline;
    margin: 20px 0px;
  }
  
  .recent-comments {
    position: relative;
    flex: 1;
  }
  
  .recent-comments > h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
  }
  
  .recent-comments > ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .recent-comments > ul > li {
    color:  rgba(0, 0, 0, 0.6);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-decoration-line: underline;
    margin: 20px 0px;
  }
  
  .meta {
    position: relative;
    flex: 1;
  }
  
  .meta > h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
  }
  
  .meta > ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .meta > ul > li {
    color:  rgba(0, 0, 0, 0.6);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-decoration-line: underline;
    margin: 20px 0px;
  }

  .circle-arrow {
    max-width: 90px;
    width: 100%;
    height: 90px;
    position: relative;
    top: 2000px;
  }
  
  .arrow {
    position: absolute;
    left: 33px;
    top: 33px;
  }
  
footer {
  max-width: 100%;
  background-color:  #E5E5E5;
  margin-top: 0px;
  padding: 130px 0px 160px 0px;
}

  .sum-footer {
    max-width: 2889px;
    width: 92%;
    margin: 0px auto;
    display: flex;
  }  

  .logo-footer {
    justify-content: end;
    flex: 1;
  }

  .older-post > h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0px;
    padding: 0px 0px 227px 35px;
  }

  .contact {
    flex: 1;
    position: relative;
    top: 285px;
    right: 160px;
    max-width: 658px;
    width: 100%;
    height: 200px;
  }

  .contact > div > p {
    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    color: #000000;
  }

  .contact > div > span {
    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    color: #FADD44;
  }